-moz-appearance

body {
  background-color: white;
}


h1 {
  color: white;
  margin: 0;
  padding: 0;
  display: inline;
}


li {
  margin: 0;
  padding: 0;
  text-align: right;
  display: inline; 
  float: right;
}


h2 {
  color: white;
  text-align: center;
  padding: 0 
}


p {
  font-family: verdana;
  font-size: 20px;
}


footer {
  background-color: #d3d3d3;
  margin: 0;
  padding: 0;
  display: inline;
}


ul {
  margin: 0;
  padding: 0;
  float: right;
  display: inline;
}

